  <div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This database was built by <a target="_blank" href="http://github.com/LeahPlat">Leah</a>.  A new web developer who is trying her best to build a beautiful quote generator.
  </p>
  <br />
  <p>
    She has spent hours developing this app through the online bootcamp.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Leah Plat</h2>
      <br />
      <p>
       Leah has loved learning to code so far. After a cup of coffee, she can conquer the world!
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br /> 
